<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}" >
<script src="{% static '/js/bootstrap.js' %}"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>

    <style>
    body{
        background: #012622;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    #c-back{
        background-color: #E0B762;
        border-radius: 40px;
        width: 110%;
        height: 100%;
        padding: 20px;
    }
    .nav-link:hover{
        background-color: #F6A90A;
        color: white;
        border-radius: 9px;
    }
    a{
        text-decoration: none;
    }
    .nav-link{
        text-align: center;
        font-weight: bolder;
    }
    .card-img-top{
            padding: 15px;
            width: 100%;
            height: 80%;
    }
</style>
</head>
<body>
<div class="container col-12">

{#glavan naslov#}
<div class="container col-lg-12">
    <p style="text-align: center; font-size: 90px; background-color: #709174; color: #FEC653; border-radius: 25px; width: 100%; align-content: center">Courses</p>
</div>

{#podnaslov#}
<div class="container">
    <div style="align-content: flex-start; font-size: 50px; color: #F19F50; font-weight: bolder">
        <p>Newest Courses</p>
    </div>
</div>


{#kursevi#}
<div class="container col-lg-6 ">
    <div class="d-grid col-12 pt-4 gap-3">

        <div style="display: grid;overflow-x: auto;" id="c-back" class="text-center">

            <div class="container gap-2" style="display: grid; grid-auto-flow: column; grid-auto-columns: 48%; overflow-x: auto;">
                {% for course in courses %}
                    <a href="/mealFix/courses/{{ course.id }}">
                    <div class="card" style="background-color: #FCEFCE; width: 300px; height: 515px;border-radius: 25px">
                        <img src="{{ MEDIA_URL }}{{ course.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body" style="text-align: left">
                            <p style="color: #F19F50; font-size: 35px; font-weight: bolder">{{ course.title}}</p>
                            <p style="color:#AC5226; font-size: 15px;font-weight: bolder">Read more ➜</p>
                        </div>
                        </div>
                    </a>
                        {% endfor %}

            </div>
        </div>
    </div>
</div>

<br>

<div>
    <img src="{% static '/img/top.png' %}" style="width: 100%;height: 80px">
</div>

{#podnaslov#}
<div class="container">
    <div style="align-content: flex-start; font-size: 50px; color: #F19F50; font-weight: bolder">
        <p>Watched Courses</p>
    </div>
</div>

{#kursevi#}
<div class="container col-lg-6 ">
    <div class="d-grid col-12 pt-4 gap-3">

        <div style="display: grid;overflow-x: auto;" id="c-back" class="text-center">

            <div class="container gap-2" style="display: grid; grid-auto-flow: column; grid-auto-columns: auto; overflow-x: auto;">
                {% for course in courses %}
                    <a href="/mealFix/courses/{{ course.id }}">
                    <div class="card" style="background-color: #FCEFCE; width: 300px; height: 515px;border-radius: 25px">
                        <img src="{{ MEDIA_URL }}{{ course.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body" style="text-align: left">
                            <p style="color: #F19F50; font-size: 35px; font-weight: bolder">{{ course.title}}</p>
                            <p style="color:#AC5226; font-size: 15px;font-weight: bolder">Read more ➜</p>
                        </div>
                        </div>
                    </a>
                        {% endfor %}

            </div>
        </div>
    </div>
</div>

<br>

<div>
    <img src="{% static '/img/top.png' %}" style="width: 100%;height: 80px">
</div>

{#podnaslov#}
<div class="container col-12">
<div class="float-container row gap-sm-4">
<div style="align-content: flex-start; font-size: 50px; color: #F19F50; font-weight: bolder">
        <p>Tips & Tricks</p>
    </div>
    {% for tip in tips %}

        <div class="col-3 gap-md-2">
<button type="button" class="btn btn-success btn-lg" style="width: 190px; height: 80px; background-color: #EA721B; border-radius: 34px; font-weight: bolder; font-size: 22px">{{ tip.title }}</button>
        </div>

    {% endfor %}
</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
{#navbar#}
<div class="navbar fixed-bottom navbar-expand-lg float-container text-center">
    <div class="container text-center" style="background-color: #D3EFBD; border-radius: 25px;  width: 2000px; height: 100px; align-content: center">
        <div class="nav-item">
            <img id="image" src="{% static '/img/icons/home.svg' %}" alt="logo" class="text-center">
            <a class="nav-link" href="/mealFix/home">Home</a>
        </div>
        <div class="nav-item">
            <img id="image" src="{% static '/img/icons/books.svg' %}" alt="logo">
            <a class="nav-link" href="/mealFix/course"style="background-color: #F6A90A; border-radius: 9px; color: white">Courses</a>
        </div>
        <div class="nav-item">
            <img id="image" src="{% static '/img/icons/fav.svg' %}" alt="logo">
            <a class="nav-link" href="/mealFix/myrecipes">My Recipes</a>
        </div>
        <div class="nav-item">
            <img id="image" src="{% static '/img/icons/profil.svg' %}" alt="logo"></a>
            <a class="nav-link" href="/mealFix/profile">Profile</a>
        </div>
    </div>
</div>

</body>
</html>